<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context.xsd">
 
 
 <!-- This is our bean  -->
 
 	<bean class="com.spring.springcore.Student" name="student1">
 	
 		<property name="studentId" value="2135917" />
 		<property name="StudentName">
 			<value>Saurabh Kumar Jha</value>
 		</property>
 	
 		<property name="studentAddress">
 			<value>Kolkata</value>
 		</property>
 	</bean>
 	<bean class="com.spring.springcore.Student" name="student2">
 	
 		<property name="studentId" value="204385" />
 		<property name="StudentName" value="Surabhi Rani" />
 		<property name="studentAddress" value="Banglore" />
 			
 	</bean>
 	
 </beans>